DB_HOST=ep-xxx-xxx-xxx.us-east-2.aws.neon.tech
DB_NAME=neondb
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_PORT=5432
DB_SSLMODE=require

APP_URL=http://localhost:8000
APP_ENV=development
APP_DEBUG=true

SESSION_LIFETIME=28800
